h1 {
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #162856;
}

h2 {
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #162856;
}

h3{
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #162856;
}

h4{
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #162856;
}

h5{
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 400;
    font-size:1rem;
    color: #162856;
}
div#up-card {
    display: flex;
    position: relative !important;
    margin: 0px;
    width: 99%;
    border-color: none;
    background-color: rgb(47, 83, 65);
    border-radius: 5px;
    justify-content: space-between;
} 

div#Logo-AP h4{
    float:inline-start;
    height: 50px;
    padding:5px;
    font-size:1.1rem;
    color: #f4f5f8;
    font-weight:550;
    text-align:center;
}

div#Logo-AP img{
    float:inline-start;
    height: 50px;
    width: 75px;
}

div#social-media {
    float:inline-end;
    margin-right: -15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn#boton-logIn {
    border-radius: 5px;
    background: rgb(33, 58, 45);
    width: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit; 
    color: #f4f5f8; 
}

div.mat-card {
    display: flex;
    padding: 20px;
    margin:10px 10px;
    margin-top:0;
    background-color: rgb(153, 172, 162);
    border-radius: 32px;
    font-weight:400;
    font-size: 1.2rem;
}

div.mat-card#first-card {
    padding: 0;
}

div#profile-background {
    display:flex;
}

div#profile-background img{
   border-radius: 32px 32px 0px 0px;
   width: 100%;
   height: 100%;
}

div#info-img img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-top: -90px;
    z-index: 1;
}

div#boton-perfil a{
    margin-top: 0px;
    margin-left: 150px;
}

div#info-data {
    display: flex;
    justify-content: space-between;
}

div#info-data h1 {
    font-size:1.8rem;
    display: inline;
    font-weight:700;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
    color: #162856;
}

div#info-data h5 {
    font-size:1.1rem;
    font-weight:400;
    line-height: 1.25;
    color: #162856;
}

div#info-contact {
    font-size:1.2rem;
    font-weight:500;
    line-height: 1.25;
    color: #104040;
    text-align: left;
}

div#info-company {
    font-size: 1.2rem;
    font-weight:500;
    line-height: 1.25;
    color: #104040;
    text-align: left;
}

div#info-data ul#info-details {
    display: flex;
    list-style: none;
    padding-right: 50px;
    padding-bottom: 10px;
}

div#info-data ul#info-details li a{
    color: #104040;
    text-decoration: none;
}

div#info-data ul#info-details li a h4{
    font-size:1.2rem;
    color: #104040;
}

div#info-data ul#info-details li a img{
    width: 65px;
    height: 65px;      
}

div#descripcion div.card-body h4{
    font-weight:400;
    font-size: 1.3rem;
    color: #104040;
    margin-bottom:0px;
    margin-top: 0px;
}

div#descripcion div.card-body h2{
    margin-bottom:0px;
}

div.list-info ul li{
    list-style: none inside;
}

div.list-info ul li h4{
    margin-left: 15px;
    margin-top: -60px;
    font-weight:500;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #104040;
}

div.list-info p{
    margin-left: 15px;
    font-weight:400;
    font-size: 1.1rem;
    line-height: 0.5rem;
    color: #104040;
}

div.logo-image-container img{
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}


.btn {
    display: block;
    background: rgb(153, 172, 162);
    border-color: rgb(153, 172, 162);
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

form.add-form div.form-control{
    display: flex;
    width: 50%;
    height: 50%;
    background:  rgb(153, 172, 162);
    border-color: rgb(153, 172, 162);
}

div.form-control input{
    display: flex;
    background-color: rgb(203, 216, 209);
    border-color:rgb(47, 83, 65);
    border-radius: 5px;
    font-weight:400;
    font-size: 1rem;
    width: 50%; 
}

div.form-control-buttons input.btn-block{
    display: block;
    width: 8%;
    background: rgb(33, 58, 45);
    color: rgb(216, 241, 171);
    border-color: rgb(47, 83, 65);
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    margin-top: 5px;
    margin-left: 15px;
}

.form-control label {
    display: flex;
    font-family: inherit;
    text-align: left;
    color:rgb(1, 20, 9);
    width: 50%;
    height: 10%;
    line-height: 0.5rem;
}
