<div class="Personas">
    <div id="info-data">
    <div>
        <h1>{{persona.nombre}} {{persona.apellido}}
            <button class="btn"><fa-icon
            [icon]="faTrash"
            [ngStyle]="{'#162856' : '#104040'}"
            (click)="onDelete(persona)"></fa-icon></button>
            <app-button-edit
            color = "{{ showEditPersonas ? '#162856' : '#104040' }}"
            (btnClick)="onToggleEditPersonas()"></app-button-edit>        
        </h1>
        <h5>{{persona.mail}}</h5>
            <div id="info-company">{{persona.position}}</div>
            <div id="info-contact"><span>{{persona.ubication}}</span></div>
            </div>
            <div><ul id="info-details">
                <li><a href={{persona.companyUrl}}>
                    <img [src]="persona.companyImg">
                    <h4>{{persona.companyName}}</h4>
                </a></li></ul> 
            </div>

<form class="container"
    (ngSubmit)="onSubmit()"
    *ngIf="showEditPersonas">

    <div class="form-control">
        <label for="text"> Cambia tu información personal: </label></div>
    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue nombre" 
    [(ngModel)]="persona.nombre" [ngModelOptions]="{standalone: true}"
    value="{{persona.nombre}}"/></div>

    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue apellido" 
    [(ngModel)]="persona.apellido" [ngModelOptions]="{standalone: true}"
    value="{{persona.apellido}}"/></div>

    <div class="form-control">
    <input id="edit" type="e-mail" 
    placeholder="Agregue e-mail" 
    [(ngModel)]="persona.mail" [ngModelOptions]="{standalone: true}"
    value="{{persona.mail}}"/></div>

    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue posición" 
    [(ngModel)]="persona.position" [ngModelOptions]="{standalone: true}"
    value="{{persona.position}}"/></div>
    
    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue ubicación" 
    [(ngModel)]="persona.ubication" [ngModelOptions]="{standalone: true}"
    value="{{persona.ubication}}"/></div>
    
    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue nombre de empresa" 
    [(ngModel)]="persona.companyName" [ngModelOptions]="{standalone: true}"
    value="{{persona.companyName}}"/></div>

    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue ruta de imagen" 
    [(ngModel)]="persona.companyImg" [ngModelOptions]="{standalone: true}"
    value="{{persona.companyImg}}"/></div>
    
    <div class="form-control">
    <input id="edit" type="text"
    placeholder="Agregue url" 
    [(ngModel)]="persona.companyUrl" [ngModelOptions]="{standalone: true}"
    value="{{persona.companyUrl}}"/></div>

    <div class="form-control-buttons">
        <input type="submit" value="Guardar cambios" class="btn btn-block">
    </div>
    
    </form>  
    </div>
</div> 

