<div class="personas">
    <div class="card mat-card" id="first-card">
        <div id="profile-background"><img [src]="persona.backImage" alt="Foto_banner"></div>
            <div id="info" style="padding: 16px">
                <div id="info-img">
                    <img class="profile-image rounded-circle" [src]="persona.profileImage" alt="Foto_pefil">
                    
                </div>
            <div id="info-data">                       
                <div>
                    <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                    <h5>{{persona.mail}}</h5>
                    <div id="info-company">{{persona.postition}}</div>
                    <div id="info-contact">
                        <span>{{persona.ubication}}</span>
                    </div>
                </div>
                <ul id="info-details">
                    <li><a href={{persona.companyUrl}}>
                        <img src="assets/Images/Logo_ovcm.png">
                        <h4>{{persona.companyName}}</h4>
                    </a></li>
                </ul>
            </div>
            </div>
    </div>
</div>
