<div class="Personas">
    <div class="card mat-card" id="first-card">
        <div id="profile-background"><img src="../assets/Images/bosques2.png" alt="Foto_banner"></div>
        <div id="info" style="padding: 16px">
            <div id="info-img">
                <img class="profile-image rounded-circle" src="../assets/Images/Perfil_circle.JPG" alt="Foto_pefil">
            </div>
            <app-edit-persona (OnAddPersona)="AddPersona($event)"></app-edit-persona>
        <app-item-persona
            *ngFor="let persona of personaList"
            [persona] = "persona"
            (OnDeletePersona)="deletePersonas(persona)"
            (onEditPersona)="EditarPersona($event)">
        </app-item-persona>
    </div>
</div>
</div>