<div class="Personas">
    <div class="card mat-card" id="first-card">
        <div id="profile-background"><img [src]="bannerList[0].backImage" alt="Foto_banner"></div>
        <div id="info" style="padding: 16px">
            <div id="info-img">
                <img class="profile-image rounded-circle" [src]="bannerList[0].profileImage" alt="Foto_pefil">
            </div>
            <div class="btn-edit"
            (click)="editPersona(persona)">
            <a href="#" class="btn-right"></a>
            <fa-icon 
            id="boton-editar"
            class="btn-edit"
            [icon]="faEdit"
            [ngStyle]="{ 'color':'#104040'}"></fa-icon></div>
            <div id="info-data">
                <div>
                <h1>{{personaList[0].nombre}} {{personaList[0].apellido}}</h1>
                <h5>{{personaList[0].mail}}</h5>
                <div id="info-company">{{personaList[0].position}}</div>
                <div id="info-contact"><span>{{personaList[0].ubication}}</span></div>
                </div>
                <div><ul id="info-details">
                    <li><a href={{personaList[0].companyUrl}}>
                        <img [src]="personaList[0].companyImg">
                        <h4>{{personaList[0].companyName}}</h4>
                    </a></li></ul></div>
            </div>
            <app-edit-persona
            [persAeditar]="personaAeditar"
            (OnEditarPersona)="editarPersona($event)"
            [showEditPersona]="showEditPersona"></app-edit-persona>
        </div>
    </div>
</div>

