<div class="persona">
    <div class="card mat-card" id="first-card">
    <app-edit-persona (onAddPersona)="AddPersona($event)"></app-edit-persona>
    <app-persona-header></app-persona-header>
    <div id="info-data">
        <div>            
            <h1>{{personaList[0].nombre}} {{personaList[0].apellido}}</h1>
            <h5>{{personaList[0].mail}}</h5>
            <div id="info-company">{{personaList[0].postition}}</div>
            <div id="info-contact">
                <span>{{personaList[0].ubication}}</span>
            </div>
        </div>
        <ul id="info-details">
            <li><a href={{personaList[0].companyUrl}}>
            <img [src]="personaList[0].companyImg">
            <h4>{{personaList[0].companyName}}</h4>
            </a></li>
        </ul>
        </div>
    </div>
</div>
