<form class="add-form" #myForm="ngForm"
(ngSubmit)="onSubmit(); myForm.resetForm()"
*ngIf="showEditPersona"
>
<div class="form-group">
    <label for="text"> Cambia tu información personal: </label></div>
    <div class="form-group">
        <input type="text"
        name="nombre" 
        id="addnombre"  
        placeholder="Agregue nombre" 
        [(ngModel)]="persAeditar.nombre"
        value="{{persAeditar.nombre}}">
    </div>
    <div class="form-group">
        <input type="text"
        name="apellido" 
        id="addapellido" 
        placeholder="Agregue apellido" 
        [(ngModel)]="persAeditar.apellido"
        value="{{persAeditar.apellido}}">
    </div>
    <div class="form-group">
        <input type="e-mail" 
        name="mail" 
        id="addmail"
        placeholder="Agregue e-mail" 
        [(ngModel)]="persAeditar.mail"
        value="{{persAeditar.mail}}">
    </div>
    <div class="form-group">
        <input type="text"
        name="position" 
        id="addposition"  
        placeholder="Agregue posición" 
        [(ngModel)]="persAeditar.position"
        value="{{persAeditar.position}}">
      </div>
      <div class="form-group">
        <input type="text"
        name="ubication" 
        id="addubication"  
        placeholder="Agregue ubicación" 
        [(ngModel)]="persAeditar.ubication"
        value="{{persAeditar.ubication}}">
    </div>
    <div class="form-group">
        <input type="text"
        name="companyUrl" 
        id="addcompanyUrl"  
        placeholder="Agregue url" 
        [(ngModel)]="persAeditar.companyUrl"
        value="{{persAeditar.companyUrl}}">
    </div>
    <div class="form-group">
        <input type="text"
        name="companyName" 
        id="addcompanyName"  
        placeholder="Agregue nombre de empresa" 
        [(ngModel)]="persAeditar.companyName"
        value="{{persAeditar.companyName}}">
    </div>
        <div class="form-control-buttons">
            <button class="btn btn-block"
            type="submit" 
            > Guardar cambios</button>
        </div>
</form>

