<form class="add-form"
(ngSubmit)="onSubmit()"
*ngIf="showAddPersona"
>
<div class="form-control">
        
    <label for="text">Cambia tu información personal: </label>
        <input type="text"
        name="nombre" 
        id="nombre"  
        placeholder="Agregue nombre" 
        [(ngModel)]="nombre">
    
        <input type="text"
        name="apellido" 
        id="apellido" 
        placeholder="Agregue apellido" 
        [(ngModel)]="apellido">
        
        <input type="text" 
        name="mail" 
        id="mail"
        placeholder="Agregue e-mail" 
        [(ngModel)]="mail">
        <div class="form-control-buttons">
            <input type="submit" value="Guardar cambios" class="btn btn-block">
        </div>
    </div>
</form>