<div class="education">
  <div class="logo-image-container">
    <img class="logo-image" [src]="education.img">
  </div>
<div class="list-info">
  <ul>
    <li>
      <h4>
        {{education.title}} en {{education.career}}
        <button><fa-icon
          class="btn"
          [icon]="faTrash"
          [ngStyle]="{'#162856' : '#104040'}"
          (click)="onDelete(education)"
          ></fa-icon></button>
      </h4>
    </li>
      <p>{{education.school}}</p>
      <p>Promedio: {{education.score}}</p>
      <p>Año de inicio: {{education.start}}</p>
      </ul>
  </div>
</div>