<div class="skills">
  <div class="list-info">
    <h5>
          {{skill.name}}
          <button class="btn"><fa-icon
            [icon]="faTrash"
            [ngStyle]="{'#162856' : '#104040'}"
            (click)="onDelete(skill)"
            ></fa-icon></button>
            <app-button-edit
            color = "{{ showEditSkills ? '#162856' : '#104040' }}"
            (btnClick)="onToggleEditSkill()"
            ></app-button-edit>
          </h5>
    <ul>
      <li><div class="Barra">
        <div class="progress progress-striped">
        <div class="progress-bar progress-bar-striped" id="bar" role="progressbar" [style.width]="skill.percentage+'%'" 
        attr.aria-valuenow={{skill.percentage}} aria-valuemin="0" aria-valuemax="100"></div> 
        </div>
      </div>
      </li>
        </ul>
    </div>
    <form class="container" 
(ngSubmit)="onSubmit(skill)"
*ngIf="showEditSkills" 
>
<input type="text"
placeholder="Agregue tipo"
[(ngModel)]="skill.name" [ngModelOptions]="{standalone: true}"
value="{{skill.name}}"/>

<input type="number" 
placeholder="Agregue porcentaje"
[(ngModel)]="skill.percentage" [ngModelOptions]="{standalone: true}"
value="{{skill.percentage}}"/>

<div class="form-control-buttons">
  <input type="submit" value="Guardar cambios" class="btn btn-block">
</div>
</form>
</div>
