<div class="container">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="email">Correo</label>
      <input type="email" formControlName="mail">
    </div>
    <br/>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" formControlName="password">
    </div>
    <br/>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>
    <button type="submit" class="btn btn-primary" routerLink="/">Enviar</button>
  </form>
</div>

